body {
    background-color: gray;
}
h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 35px;
}
a {
    text-decoration: none;
    color: black;
    line-height: 200%;
    font-family: sans-serif;
    padding-left: 10px;
}
#box {
    background-color: white;
    width: 500px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 1px 16px 16px rgb(56, 55, 55);
    margin: 0 auto;
    margin-top: 100px;
}