body::after {  /* De achtergrond van de pagina */
  content: "";
  background: url("https://i.ibb.co/vhSbfgv/pannenkoek.png");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
#user_name {  /* Gebruikersnaam inlog veld */
  display: block;
  margin: 0 auto;
  width: 217px;
  font-family: "Arial";
  padding: 10px;
  transform: scale(1.3);
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  margin-top: 50px;
}

.input { /* De styling van de .input telt voor het email veld, het password veld en het confirm password veld */
  display: block;
  margin: 0 auto;
  width: 217px;
  font-family: "Arial";
  padding: 10px;
  transform: scale(1.3);
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  margin-top: 25px;
}
#submit {  /* Submit knop */
  margin: 0 auto;
  display: block;
  margin-top: 125px;
  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  width: 10.5%;
}
#signup { /* Sign up redirect */
  text-align: center;
  padding: 10px;
  border: none;
  background-color: rgb(4, 153, 4);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Arial";
  font-size: 17px;
  transform: translateY(-10px);
  display: block;
  margin: auto;
  width: 100px;
}
#google {  /* Google foto */
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 25px;
}
#signuptext {
  text-align: center; 
  vertical-align: middle;
  transform: translateY(-20px);
  font-family: "Arial";
}